/** page structure **/
#w {
  display: block;
  max-width: 100%;
  min-width: 300px;
  margin: 0 auto;
}


/** posts slider widget **/
.crsl-items {
  display: block;
  padding: 5px 0;
}

.crsl-item {
  background: #fff;
  padding: 0;
  border: 2px solid #d3d3d3;
  border-top: 4px solid #00baf2;
}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  padding: 20px 15px 0 15px;
  cursor: pointer;
  border: 0;
}
.crsl-item .thumbnail img { 
  display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 0;
}
.crsl-item .thumbnail:hover img {
  opacity: 0.8;
}

.crsl-item h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.crsl-item h3 a {
  text-decoration: none;
  color: #333;
}
.crsl-item h3 a:hover {
  text-decoration: underline;
}
.crsl-item h4 {
  font-size: 18px;
  padding: 0 15px 15px;
}
.crsl-item .industry{font-size: 14px;width: 100%;display: inline-block; background: url(../img/underline-gray.png) bottom center no-repeat; padding: 5px 15px 10px 15px;}
.crsl-item .industry span{display: inline-block; padding: 0 5px;}
.crsl-item .postdate {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  background: #4e90da;
}

.crsl-item p {
  font-size: 1.2em;
  line-height: 1.55em;
  margin-bottom: 5px;
}

.crsl-item p.readmore a {
  display: block;
  float: right;
  color: #4e90da;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crsl-item p.readmore a:hover {
  background: #4b6caa;
  color: #fff;
}


/** posts slider nav **/
.slidernav {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 55;
}

.slidernav a {
  background: url(../img/ic-control-slider.png) left top no-repeat;
  display: inline-block;
  height: 60px; width: 37px;
  font-size: 0;
  text-indent: -9999px;
}
.slidernav a.previous{
  float: left;
  background-position: 0 0;
  margin-left: 5px;
}
.slidernav a.previous:hover{
  background-position: 0 -62px;
}
.slidernav a.next{
  float: right;
  margin-right: 6px;
  background-position: -65px 0;
}
.slidernav a.next:hover{
  background-position: -65px -62px;
}
.crsl-item ul{width: 100%;display: inline-block; text-align: left;padding: 15px}
.crsl-item li{width: 100%;display: inline-block; padding: 5px; }
.crsl-item li i{padding-right: 15px; font-size: 20px;}
.crsl-item li:first-child i{font-size: 24px;}

.crsl-item .skills{
  padding: 15px;
  background-color: 
}
.crsl-item .skills span{display: inline-block; padding: 0 5px;}
/** media queries **/
@media screen and (max-width: 660px) {
  h1 { font-size: 2.4em; line-height: 1.2em; }
  
  .crsl-item h3 { font-size: 1.65em; }
}

